<div class="searchpage padded">
  <div class="row padded mt-3">
    <br>
    <input type="text" name="search" id="search" class="form-control" placeholder="Search">

    <button class="btn btn-success form-control mt-2">Find</button>
  </div>
  <hr>
  <h3>Result</h3>
  <div class="result">
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
  </div>
</div>